# Core functionality - changes here should be rare!
/src/app.py                   @egoskynet
/src/backend/database.py      @egoskynet
/src/backend/routers/auth.py  @egoskynet

# The frontend will need refactored soon to be more object oriented.
/src/static/   @egoskynet
